body{
    background-image: linear-gradient(45deg, rgba(187, 187, 187,0.04) 0%, rgba(187, 187, 187,0.04) 50%,rgba(86, 86, 86,0.04) 50%, rgba(86, 86, 86,0.04) 100%),linear-gradient(135deg, rgba(166, 166, 166,0.04) 0%, rgba(166, 166, 166,0.04) 50%,rgba(92, 92, 92,0.04) 50%, rgba(92, 92, 92,0.04) 100%),linear-gradient(90deg, rgb(20,20,20),rgb(20,20,20)); background-size: 142px 142px;
}
.stone{
    margin-left: 520px;
    margin-top: 200p
}
#imgs{
    width: 800px;
    border-radius: 10px;
}
#btn{
    font-size: 4rem;
    margin-left: 850px;
    margin-top: 80px;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(54, 52, 50);
    text-shadow: 1px 1px 5px aliceblue;
}
#btn:hover{
    box-shadow: 1px 1px 10px 5px aliceblue;
    cursor: pointer;
}